<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>{{title}}</h1>
    <ul>
        {{#pageText}}
        <li>{{this}}</li>
        {{/pageText}}
    </ul>

    {{#urls}}
        <a href="{{angularjs}}">Angular 1.7</a>
        </br>
        <a href="{{angular}}">Angular</a>
    {{/urls}}
</body>

</html>
